// section article, title and paragraph

.article {
    text-align:start;
    margin: 20px 50px 20px 50px;

  &__paragraph {
    letter-spacing: 2px;
    font-family: $raleway;
    font-size: $fz-small;
    line-height: 1.2;
    

  }
  &__title {
      font-family: $oldStanford;
      font-weight: $oldStanfordBold;
      font-size: $fz-xxx-large;
  }
}
