//Input suscribe

.newsletter {
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: $smokyBlack;
  width: 100%;
  color: $white;
  line-height: 1.4;

  &__email {
    font-family: $oldStanford;
    font-weight: $oldStanfordRegular;
  }
  &__input {
    width: 100%;
  }
  &__title {
    font-family: $oldStanford;
    font-weight: $oldStanfordBold;
    font-size: $fz-xx-large;
  }
}

//Suscription section
footer {
  display: flex;
  position: relative;
}
.suscription {
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 30px;
  
 
  
  &__suscriber {
    font-family: $oldStanford;
    font-weight: $oldStanfordBold;
    padding-right: 4px;
    font-size: 20px;
    color: black;
    writing-mode: vertical-lr;
    position: absolute;
    right: 0;
    text-align: center;
    
  
}
&__suscriber a{
  text-decoration: none;
}

}
