//Variables

$white: #fff;
$isabelline: #ececec;
$lightGray: #D1D1D1;
$smokyBlack: #0c0910;
$graniteGray: #646266;
$quickSilver: #A6A5A8;

//typography

//typography -weight
$raleway: 'Raleway','sans-serif';
$ralewayBold: 700;
$ralewayRegular: 400;
$oldStanford: 'Old Standard TT', serif;
$oldStanfordBold: 700;
$oldStanfordRegular: 400;

//Font-Size
$fz-xxx-large: 50px;
$fz-xx-large: 30px;
$fz-x-large: 20px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 14px;
$fz-xsmall: 12px;